body {
  background-color: orange;
}

.container {
  width: 900px;
  height: 700px;

  /* display: flex; */
}

button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
